/* Imort fonts */ 
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

/*--------------------------------------------------------------
>>> INDHOLDFORTEGNELSE:
1.0 Main css
2.0 Header css
3.0 Footer css
4.0 Front page css
5.0 Page css
6.0 Responsive css
    6.1 Large Screen
    6.2 Medium Screen
    6.3 Small Screen
    6.4 Extra Small Screen
----------------------------------------------------------------*/



/*--------------------------------------------------------------
1.0 Main css
----------------------------------------------------------------*/
h1 {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 25px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 22px;
}

p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    line-height: 22px;
    font-weight: 300;
    color: #333333;
}

a {
    color: #333333;
}

a:hover {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
    color: #236327;
}

section {
    margin: 100px 0;
}



/*--------------------------------------------------------------
2.0 Header css
----------------------------------------------------------------*/

header .header-brand {
    background-image: linear-gradient(to right, #ffffff, #236327);
    position: relative;
}

header .header-brand .bg-image img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    display: block;
}

header .header-brand .header-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 190px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(35, 99, 39, 0.8));
    display: flex;
}

header .header-brand .header-overlay .container {
    align-self: center;
}

header .header-brand .header-overlay img {
    height: 150px;
}

header nav.navbar {
    z-index: 1;
    padding: 0;
}

header nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

header .navbar-expand-lg .toogler-nav-icon {
    display: flex;
    justify-content: flex-end;
}

header .navbar-expand-lg {
    flex-flow: wrap;
}

header nav .menu-header-container {
    width: 100%;
}

header nav .menu-header-container ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav .menu-header-container ul li {
    flex-grow: 1;
    border-right: 2px solid #ffffff;
    text-align: center;
}

header nav .menu-header-container ul li:first-child {
    border-left: 2px solid #ffffff;
}

header nav .menu-header-container ul li.current_page_item a {
    background-color: #236327;
    color: #ffffff;
}

header nav .menu-header-container ul li a {
    color: #333333;
    padding: 20px 0;
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

header nav .menu-header-container ul li a:hover {
    text-decoration: none;
    background-color: #236327;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s ease;
}

header .navbar-dark .navbar-toggler {
    margin-top: -100px;
    border: none;
    color: white;
}



/*--------------------------------------------------------------
3.0 Footer css
----------------------------------------------------------------*/

footer {
    background-color: #236327;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

footer .container .textwidget {
    margin: 20px 10px;
}

footer .container p {
    margin: 0;
    color: white;
}

footer .container a:hover {
    text-decoration: none;
}

footer .container a p:hover {
    cursor: pointer;
    text-decoration: none;
    font-weight: 300;
    text-shadow: 0px 3px 6px #333333;
}

footer .container .footer-pipe {
    font-weight: 900;
}



/*--------------------------------------------------------------
4.0 Front page css
----------------------------------------------------------------*/

.front-page .frontpage_content {
    padding-right: 50px;
}

.front-page .frontpage_branch a .branch_single {
    background-color: #f8f9fa;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.front-page .frontpage_branch a .branch_single:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.front-page .frontpage_branch a .branch_single:hover h4 {
    color: #236327;
}

.front-page .frontpage_branch a .branch_single img {
    max-width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.front-page .frontpage_branch p {
    text-align: center;
}
    


/*--------------------------------------------------------------
5.0 Page css
----------------------------------------------------------------*/

.page .side_menu h3{
    background-color: #236327;
    color: #ffffff;
    padding: 20px 30px;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.page .side_menu ul {
    padding: 0;
}

.page .side_menu ul li {
    border-top: 2px solid #ffffff;
    list-style: none;
}

.page .side_menu ul li.current_page_item a {
    background-color: #236327;
    color: #ffffff;
}

.page .side_menu ul li a {
    color: #333333;
    padding: 15px 30px;
    display: block;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #f8f9fa;
}

.page .side_menu ul li a:hover {
    text-decoration: none;
    background-color: #236327;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s ease;
}

.page .page_content {
    padding-left: 50px;
}



/*--------------------------------------------------------------
6.0 Responsive css
----------------------------------------------------------------*/

/* 6.1 Large Screen */
@media screen and (max-width: 1200px) { 

}


/* 6.2 Medium Screen */
@media screen and (max-width: 991px) { 
    header .header-brand .bg-image img {
        height: 100px;
    }
    
    header .header-brand .header-overlay {
        height: 100px;
    }
    
    header .header-brand .header-overlay img {
        height: 80px;
    }

    header nav .menu-header-container ul {
        flex-direction: column;
    }

    header nav .menu-header-container ul li {
        border: none;
    }

    header nav .menu-header-container ul li:first-child {
        border: none;
    }

    header nav .menu-header-container ul li a {
        padding: 15px 0;
    }
    
    footer .container .footer-pipe {
        display: none;
    }

    footer .container {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    footer .container .textwidget {
        margin: 10px 0;
    }
}


/* 6.3 Small Screen */
@media screen and (max-width: 767px) { 

}


/* 6.4 Extra Small Screen */
@media screen and (max-width: 575px) { 
    header .navbar-dark .navbar-toggler {
        margin-right: 20px;
    }
}