/* Imort fonts */ 
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

/*--------------------------------------------------------------
>>> INDHOLDFORTEGNELSE:
1.0 Main css
2.0 Header css
3.0 Footer css
4.0 Page css
5.0 Responsive css
    5.1 Large Screen
    5.2 Medium Screen
    5.3 Small Screen
    5.4 Extra Small Screen
----------------------------------------------------------------*/



/*--------------------------------------------------------------
1.0 Main css
----------------------------------------------------------------*/
h1 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    line-height: 22px;
    font-weight: 300;
}

section {
    margin: 50px 0;
    height: 100vh;
}



/*--------------------------------------------------------------
2.0 Header css
----------------------------------------------------------------*/

header .header-brand {
    background-image: linear-gradient(to right, #ffffff, #236327);
    position: relative;
}

header .header-brand .bg-image img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    display: block;
}

header .header-brand .header-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 190px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(35, 99, 39, 0.8));
    display: flex;
}

header .header-brand .header-overlay .container {
    align-self: center;
}

header .header-brand .header-overlay img {
    height: 150px;
}

header nav.navbar {
    padding: 0;
}

header .navbar-expand-lg .toogler-nav-icon {
    display: flex;
    justify-content: flex-end;
}

header .navbar-expand-lg {
    flex-flow: wrap;
}

header nav .menu-header-container {
    width: 100%;
}

header nav .menu-header-container ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav .menu-header-container ul li {
    flex-grow: 1;
    border-right: 2px solid #ffffff;
    text-align: center;
}

header nav .menu-header-container ul li:first-child {
    border-left: 2px solid #ffffff;
}

header nav .menu-header-container ul li.current_page_item a {
    background-color: #236327;
    color: #ffffff;
}

header nav .menu-header-container ul li a {
    color: #333333;
    padding: 20px 0;
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

header nav .menu-header-container ul li a:hover {
    text-decoration: none;
    background-color: #236327;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s ease;
}

header .navbar-dark .navbar-toggler {
    margin-top: -100px;
    border: none;
    color: white;
}



/*--------------------------------------------------------------
3.0 Footer css
----------------------------------------------------------------*/

footer {
    background-color: #236327;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

footer .container .textwidget {
    margin: 20px 10px;
}

footer .container p {
    margin: 0;
    color: white;
}

footer .container a:hover {
    text-decoration: none;
}

footer .container a p:hover {
    cursor: pointer;
    text-decoration: none;
    font-weight: 300;
    text-shadow: 0px 3px 6px #333333;
}

footer .container .footer-pipe {
    font-weight: 900;
}



/*--------------------------------------------------------------
5.0 Responsive css
----------------------------------------------------------------*/

/* 5.1 Large Screen */
@media screen and (max-width: 1200px) { 

}


/* 5.2 Medium Screen */
@media screen and (max-width: 991px) { 
    header .header-brand .bg-image img {
        height: 100px;
    }
    
    header .header-brand .header-overlay {
        height: 100px;
    }
    
    header .header-brand .header-overlay img {
        height: 80px;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%
    }

    header nav .menu-header-container ul {
        flex-direction: column;
    }

    header nav .menu-header-container ul li {
        border: none;
    }

    header nav .menu-header-container ul li:first-child {
        border: none;
    }

    header nav .menu-header-container ul li a {
        padding: 15px 0;
    }
    
    footer .container .footer-pipe {
        display: none;
    }

    footer .container {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    footer .container .textwidget {
        margin: 10px 0;
    }
}


/* 5.3 Small Screen */
@media screen and (max-width: 767px) { 

}


/* 5.4 Extra Small Screen */
@media screen and (max-width: 575px) { 

}